 @font-face { font-family: 'Cabin'; font-style: normal; font-weight: 500; src: local('Cabin Medium'), local('Cabin-Medium'), url(//themes.googleusercontent.com/static/fonts/cabin/v5/km2iCywk7CnC11BE8pBNVHYhjbSpvc47ee6xR_80Hnw.woff?1426106817) format('woff'); }
 @font-face { font-family: 'Cabin'; font-style: normal; font-weight: 700; src: local('Cabin Bold'), local('Cabin-Bold'), url(//themes.googleusercontent.com/static/fonts/cabin/v5/haOjnueK8Or1ztuuRtr8dnYhjbSpvc47ee6xR_80Hnw.woff?1426106817) format('woff'); }
 @font-face { font-family: 'Cabin'; font-style: italic; font-weight: 500; src: local('Cabin Medium Italic'), local('Cabin-MediumItalic'), url(//themes.googleusercontent.com/static/fonts/cabin/v5/l3VlC5SZU-ZceiU15Vs2gL3hpw3pgy2gAi-Ip7WPMi0.woff?1426106817) format('woff'); }
 @font-face { font-family: 'Cabin'; font-style: italic; font-weight: 700; src: local('Cabin Bold Italic'), local('Cabin-BoldItalic'), url(//themes.googleusercontent.com/static/fonts/cabin/v5/Ww23LQNlhn4dAm9uegPaX73hpw3pgy2gAi-Ip7WPMi0.woff?1426106817) format('woff'); }
 @font-face { font-family: 'Montserrat'; font-style: normal; font-weight: 400; src: local('Montserrat-Regular'), url(//themes.googleusercontent.com/static/fonts/montserrat/v4/zhcz-_WihjSQC0oHJ9TCYL3hpw3pgy2gAi-Ip7WPMi0.woff?1426106817) format('woff'); }
 @font-face { font-family: 'Montserrat'; font-style: normal; font-weight: 700; src: local('Montserrat-Bold'), url(//themes.googleusercontent.com/static/fonts/montserrat/v4/IQHow_FEYlDC4Gzy_m8fcnbFhgvWbfSbdVg11QabG8w.woff?1426106817) format('woff'); }
 ul, ol, li, h1, h2, h3, h4, h5, h6, pre, form, body, html, div.paragraph, blockquote, fieldset, input, iframe, img { margin: 0; padding: 0; font-size:100%; border:0; }
 ul, ol, li, h1, h2, h3, h4, h5, h6, pre, form, body, html, p, blockquote, fieldset, input, iframe, img { margin: 0; padding: 0; font-size:100%; border:0; }
 a img { border: 0; }
 a { text-decoration: none; }
 body { line-height: 1; }
 input:focus, select:focus, textarea:focus, button:focus { outline: none; }
 body { font-size: 15px; font-family: 'Cabin', Arial, sans-serif; line-height: 1; background: #2e2e2e; color: #ffffff; padding: 0 !important; margin: 0 !important; -webkit-font-smoothing: antialiased !important; -moz-font-smoothing: antialiased !important; -o-font-smoothing: antialiased !important; -moz-osx-font-smoothing: grayscale; }
 #wrapper { display: block; }
 html { width: 100%; height: 100% !important; }
 a { text-decoration: none; color: #68a3c2; }
 a:hover { color: #000000; }
 #content-wrapper { background: #ffffff; }
 #content { width: 100%; max-width: 1140px; margin: 0 auto; padding: 4.5em 2em; background: #ffffff; color: #444444; box-sizing: border-box; }
 #wsite-content > div { margin: 0 auto 2em; }
 #content h2 { font-family: 'Montserrat'; font-size: 1.75em; font-weight: 700; margin: 0 auto 1em; }
 #content .paragraph { line-height: 1.75; margin: 0 auto 2em; }
 .paragraph:last-child { margin: 0 auto; }
 #content .paragraph a { color: #68a3c2; border-bottom: 2px solid #5792b0; }
 #content .paragraph a:hover { color: #000000; border-color: #000000; }
 .postload .paragraph ul, .postload .paragraph ol { margin: 1.5em 0 !important; }
 .wsite-com-content { padding: 0 !important; }
 blockquote { line-height: 1.75; font-size: 1.2em; font-style: italic; text-transform: uppercase; margin: 2em 1.5em; }
 @media (max-width: 991px) {
 #content { font-size: 14px; padding: 3em 2em; }
 #content h2 { font-size: 1.5em; }
 }
 @media (max-width: 767px) {
 .wsite-multicol-col { box-sizing: border-box; max-width: 100% !important; display: block; width: auto !important; margin: 0 auto 2em !important; box-sizing: border-box; }
 #content { padding: 1.5em 2em; }
 #content h2 { font-size: 1.25em; }
 }
 #header { position: absolute; width: 100%; top: 0; left: 0; box-sizing: border-box; z-index: 15; }
 #masthead { width: 100%; position: relative; background: rgba(0, 0, 0, .6); text-align: right; z-index: 15; }
 #masthead-wrap { display: table; width: 100%; max-width: 1140px; padding: 0 2em; height: 88px; margin: 0 auto; vertical-align: middle; box-sizing: border-box; }
 .wsite-logo img { max-height: 70px; }
 #masthead .sitename { display: table-cell; width: 50%; text-align: left; max-width: 60%; vertical-align: middle; }
 .wsite-logo a { font-family: 'Montserrat'; font-size: 1.75em; font-weight: 700; color: #ffffff; }
 #masthead #sitesearch { display: table-cell; width: 50%; text-align: right; vertical-align: middle; }
 .wsite-search { float: right; position: relative; display: block; height: 26px; }
 #wsite-header-search-form { position: relative; display: block; width: 26px; height: 26px; overflow: hidden; -webkit-transition: all 100ms cubic-bezier(0.55, 0.085, 0.68, 0.53) !important; -moz-transition: all 100ms cubic-bezier(0.55, 0.085, 0.68, 0.53) !important; -o-transition: all 100ms cubic-bezier(0.55, 0.085, 0.68, 0.53) !important; -ms-transition: all 100ms cubic-bezier(0.55, 0.085, 0.68, 0.53) !important; transition: all 100ms cubic-bezier(0.55, 0.085, 0.68, 0.53) !important; }
 #wsite-header-search-form.expanded { width: 200px; }
 #masthead .wsite-search-input { width: 170px; position: absolute; right: 28px; padding: 4px !important; background: none; border: none !important; color: #ffffff; text-align: center; border-radius: 0 !important; border-bottom: 1px solid #444444 !important; }
 #header .wsite-search-button { position: absolute; right: 0; width: 26px; height: 26px; background: url(theme/masthead-search.png?1426106817) no-repeat center center; }
 #search a { display: block; width: 26px; height: 26px; background: url(theme/masthead-search.png?1426106817) no-repeat center center; }
 #masthead .wsite-search-input:active, #masthead .wsite-search-input:focus { border-bottom: 1px solid #444444 !important; }
 #navigation { width: 100%; max-height: 60px; position: relative; background: rgba(0, 0, 0, .3); z-index: 15; box-sizing: border-box; }
 #navigation-wrap { position: relative; max-width: 1140px; padding: 20px 2em; margin: 0 auto; box-sizing: border-box; }
 @media (max-width: 991px) {
 #masthead-wrap { padding-top: 24px; padding-bottom: 24px; }
 #navigation { max-height: 80px; }
 #navigation-wrap { padding: 16px 2em; }
 .wsite-logo #wsite-title { font-size: inherit !important; }
 }
 @media (max-width: 767px) {
 #masthead { display: none; }
 .wsite-logo a { font-family: 'Montserrat'; font-size: 1.5em; }
 }
 #mobile, #navigation .sitename { display: none; }
 .postload #navigation.stuck { position: fixed; top: 0; left: 0; background: #000000; }
 #nav { overflow: hidden; display: inline-block; max-width: 78%; margin: 0 1em 0 0; }
 #search { display: none; }
 #navmobile { max-height: 0; overflow: hidden; display: none; }
 #nav ul { list-style: none; margin: 0 auto; }
 #nav ul li, #nav ul span { list-style: none; display: inline-block; margin: 0 15px; font: 14px/1 'Cabin', Helvetica, sans-serif; }
 #nav ul li:first-child, #nav ul span:first-child { margin-left: 0; }
 #nav ul li:last-child, #nav ul span:last-child { margin-right: 0; }
 #nav ul li a, #navmobile ul li a { color: #68a3c2; display: block; font-weight: 700; padding: 4px 0 2px; -webkit-transition: all 100ms linear; -moz-transition: all 100ms linear; -o-transition: all 100ms linear; -ms-transition: all 100ms linear; transition: all 100ms linear; }
 #nav ul li#active a, #nav ul li a:hover, #nav ul li a:focus, #navmobile ul li#active a, #navmobile ul li a:hover, #navmobile ul li a:focus { color: #ffffff; }
 #navmobile ul li, #navmobile ul span { display: block; }
 #navmobile ul li, #navmobile ul span { margin: 0; }
 #navmobile ul li a { padding: 8px 0; }
 #wsite-nav-cart-a span { display: inline !important; }
 #social { position: absolute; right: 2em; top: 20px; display: inline-block; max-width: 20%; height: 26px; margin-top: -3px; overflow: hidden; }
 @media (max-width: 991px) {
 #navigation-wrap { text-align: center; }
 #nav { max-width: 100%; }
 #social { display: none; }
 }
 @media (max-width: 767px) {
 #mobile { float: left; display: block; margin: 3px 10px 3px 0; width: 24px; }
 #mobile .mobile-bar { display: block; width: 24px; height: 2px; background: #68a3c2; margin: 0 auto 4px; }
 #mobile .mobile-bar:last-child { margin: 0 auto; }
 #navigation .sitename, #navigation .wsite-logo { display: block !important; float: none !important; max-width: 200px; margin: 0 auto; text-align: center; }
 #navigation .wsite-logo a { display: block; width: auto; }
 #navigation .wsite-logo a img { max-width: 100%; max-height: 20px; }
 #navigation { padding: 17px 2em 18px; background: #000000; max-height: none !important; }
 #navigation-wrap { clear: both; padding: 0; max-height: 0; overflow: hidden; text-align: left; -webkit-transition: all 400ms ease-in !important; -moz-transition: all 400ms ease-in !important; -o-transition: all 400ms ease-in !important; -ms-transition: all 400ms ease-in !important; transition: all 400ms ease-in !important; }
 .expanded #navigation-wrap { max-height: 500px; padding: 10px 0 0; }
 #nav { display: none; }
 #navmobile { max-height: 100%; display: block; overflow-y: scroll; -webkit-overflow-scrolling: touch; box-sizing: border-box; }
 #social { position: static; display: block; max-width: 100%; height: auto; margin-top: 0; }
 #social .wsite-social { margin-top: 3px; }
 #social * { text-align: left !important; }
 #social .wsite-social { margin-top: 8px; }
 .wsite-mobile-menu { padding: 5px 0 20px; box-sizing: content-box; -webkit-transition: all 200ms cubic-bezier(0.55, 0.085, 0.68, 0.53) !important; -moz-transition: all 200ms cubic-bezier(0.55, 0.085, 0.68, 0.53) !important; -o-transition: all 200ms cubic-bezier(0.55, 0.085, 0.68, 0.53) !important; -ms-transition: all 200ms cubic-bezier(0.55, 0.085, 0.68, 0.53) !important; transition: all 200ms cubic-bezier(0.55, 0.085, 0.68, 0.53) !important; }
 #search { display: block; float: right; }
 #search input { display: none; }
 }
 #wsite-menus > .wsite-menu-wrap { padding-top: 20px; }
 #wsite-menus .wsite-menu li a, #wsite-menus .wsite-menu li a { background: #000000; color: #68a3c2; border: none !important; font-weight: 700; padding: 0 !important; }
 #wsite-menus .wsite-menu li a:hover, #wsite-menus .wsite-menu li a:hover { background: #000000; color: #ffffff; }
 #wsite-menus span.wsite-menu-title, #wsite-menus span.wsite-menu-title { padding: 10px 20px; }
 #wsite-menus .wsite-menu li:first-child a span { padding-top: 20px; }
 #wsite-menus .wsite-menu li:last-child a span { padding-bottom: 20px; }
 .wsite-menu-arrow { width: 5px; overflow: hidden; text-indent: -9999px; overflow: hidden; right: 15px; font-size: 24px !important; top: 10% !important; }
 .wsite-menu-arrow:before { display: inline-block; content: '\2192'; position: absolute; right: 0; text-indent: 0 !important; }
 @media (max-width: 991px) {
 #wsite-menus > .wsite-menu-wrap { padding-top: 12px; }
 }
 @media (max-width: 767px) {
 .wsite-menu-title, .wsite-menu-back { display: inline-block !important; }
 .wsite-menu-arrow { display: none !important; }
 .wsite-menu-mobile-arrow { display: inline-block !important; font-size: inherit !important; padding: 0 5px; }
 .wsite-menu-mobile-arrow:before { display: inline-block; content: '\203A'; vertical-align: bottom; }
 .wsite-menu-back-item .wsite-menu-mobile-arrow:before { content: '\2039' !important; }
 }
 #banner-wrap { position: relative; height: 100%; width: 100%; background: #000000; overflow: hidden; }
 #banner { position: relative; text-align: center; z-index: 11; }
 #banner:before { content: ''; display: inline-block; height: 100%; vertical-align: middle; }
 #banner-content { display: inline-block; text-align: center; vertical-align: middle; max-width: 80%; }
 #banner-content h2 { font-family: 'Montserrat'; font-weight: 700; text-transform: uppercase; letter-spacing: 6px; }
 #wrapper .wsite-background { width: 100%; opacity: 0.3; background-repeat: no-repeat !important; background-size:cover !important; background-position: center center !important; background-color: transparent; z-index: 10; -webkit-filter: grayscale(100%); -moz-filter: grayscale(100%); -ms-filter: grayscale(100%); -o-filter: grayscale(100%); filter: grayscale(100%); filter: gray; -webkit-transition: all 600ms ease-in !important; -moz-transition: all 600ms ease-in !important; -o-transition: all 600ms ease-in !important; -ms-transition: all 600ms ease-in !important; transition: all 600ms ease-in !important; }
 @media (max-width: 767px) {
 #banner-content h2 { letter-spacing: 2px; line-height: 1.25; }
 }
 .splash-page, .splash-page #wrapper, .splash-page #main, .splash-page .wsite-background,.splash-page #content-wrapper { display: block; width: 100% !important; height: 100% !important; box-sizing: border-box; -webkit-overflow-scrolling: touch; }
 .splash-page, .splash-page #wrapper { background-color: #000000 !important; }
 .splash-page .wsite-background { position: fixed; top: 0; background-image: url(theme/splash.jpg?1426106817); }
 .splash-page #content-wrapper { position: relative; text-align: center !important; z-index: 11; padding-top: 160px; background: none; }
 .splash-page #content-wrapper:before { content: ''; display: inline-block; height: 100%; vertical-align: middle; }
 .splash-page #content { position: relative; z-index: 11; width: 98%; display: inline-block; text-align: center; vertical-align: middle; margin: 0 auto; background: none; color: #ffffff !important; }
 .splash-page #footer { display: none; }
 .splash-page #content h2 { font-size: 2.5em; }
 @media (max-width: 767px) {
 .splash-page .wsite-background { position: fixed; top: 0; background-size: auto 100%; background-position: top center; }
 .splash-page #content-wrapper { padding-top: 60px; }
 }
 .landing-page, .landing-page #wrapper, .landing-page #main, .landing-page #banner-wrap, .landing-page #banner, .landing-page .wsite-background { display: block; width: 100% !important; height: 100% !important; max-height: 2000px; box-sizing: border-box; }
 .landing-page #banner-content h2 { font-size: 2.5em; margin: 0 auto .5em; }
 .landing-page #banner div.paragraph { font-size: 1.6em; line-height: 1.5; margin: 0 auto; }
 .landing-page #banner p { font-size: 1.6em; line-height: 1.5; margin: 0 auto; }
 .landing-page .wsite-background { position: absolute; background-image: url(theme/header.jpg?1426106817); top: 0; }
 .landing-page #banner-content { z-index: 11; position: relative; }
 .landing-page, .landing-page #banner, .landing-page #banner-wrap { -webkit-transition: all 800ms linear !important; -moz-transition: all 800ms linear !important; -o-transition: all 800ms linear !important; -ms-transition: all 800ms linear !important; transition: all 800ms linear !important; }
 .landing-page.scrolled #banner-wrap { max-height: 525px; }
 .landing-page.scrolled #banner { padding-top: 160px; }
 .landing-page #landing-scroll { position: absolute; display: block; bottom: 8%; left: 50%; width: 52px; height: 52px; margin-left: -24px !important; background: url(theme/scroll.png?1426106817) no-repeat center center; opacity: 0; z-index: 11; cursor: pointer; -webkit-transition: all 800ms ease-in !important; -moz-transition: all 800ms ease-in !important; -o-transition: all 800ms ease-in !important; -ms-transition: all 800ms ease-in !important; transition: all 800ms ease-in !important; }
 .landing-page #landing-scroll.loaded { opacity: 1; bottom: 5%; -webkit-transition: all 400ms cubic-bezier(0.55, 0.085, 0.68, 0.53) !important; -moz-transition: all 400ms cubic-bezier(0.55, 0.085, 0.68, 0.53) !important; -o-transition: all 400ms cubic-bezier(0.55, 0.085, 0.68, 0.53) !important; -ms-transition: all 400ms cubic-bezier(0.55, 0.085, 0.68, 0.53) !important; transition: all 400ms cubic-bezier(0.55, 0.085, 0.68, 0.53) !important; }
 .landing-page.scrolled #landing-scroll { bottom: -100px !important; opacity: 0 !important; }
 @media (max-width: 991px) {
 .landing-page #banner { font-size: 13px; }
 .landing-page.scrolled #banner { padding-top: 125px; }
 .landing-page.scrolled #banner-wrap { max-height: 375px; }
 }
 @media (max-width: 767px) {
 .landing-page #banner { font-size: 10px; }
 .landing-page.scrolled #banner { padding-top: 60px; }
 .landing-page.scrolled #banner-wrap { max-height: 245px; }
 .landing-page #landing-scroll { width: 42px; height: 42px; margin-left: -21px !important; background-size: 100% 100%; }
 }
 .tall-header-page .wsite-background, .short-header-page .wsite-background { position: relative; background-image: url(theme/header.jpg?1426106817); }
 .tall-header-page .wsite-background:before, .short-header-page .wsite-background:before { content: ''; display: inline-block; }
 .tall-header-page .wsite-background { max-height: 525px; }
 .tall-header-page .wsite-background:before { padding-top: 48%; }
 .short-header-page .wsite-background { max-height: 380px; }
 .short-header-page .wsite-background:before { padding-top: 36%; }
 .tall-header-page #banner, .short-header-page #banner { background: #68a3c2; color: #ffffff; }
 .tall-header-page #banner h2, .short-header-page #banner h2 { margin: 0 auto; font-size: 1.75em; }
 .tall-header-page #banner h2 > span, .short-header-page #banner h2 > span { display: inline-block; padding: 2.4em 0; }
 .tall-header-page #banner-wrap:after, .short-header-page #banner-wrap:after { position: relative; color: #68a3c2; background: #ffffff; font-size: 20px; line-height: 1; margin-top: -5px; content: '\25B2'; display: block; text-align: center; padding: 0; -moz-transform: scale(4, 1) rotate(180deg); -webkit-transform: scale(4, 1) rotate(180deg); -o-transform: scale(4, 1) rotate(180deg); -ms-transform: scale(4, 1) rotate(180deg); transform: scale(4, 1) rotate(180deg); }
 @media (max-width: 991px) {
 .tall-header-page #banner h2, .short-header-page #banner h2, .title-page #banner h2 { font-size: 1.25em !important; }
 .tall-header-page #banner h2 > span { padding: 1.75em 0; }
 .short-header-page #banner h2 > span { padding: 1.25em 0; }
 }
 @media (max-width: 767px) {
 .tall-header-page #banner h2, .short-header-page #banner h2, .title-page #banner h2 { font-size: 1.07em !important; }
 .tall-header-page #banner h2 > span { padding: 1em 0; }
 .short-header-page #banner h2 > span { padding: .75em 0; }
 .tall-header-page #banner-wrap:after, .short-header-page #banner-wrap:after { font-size: 16px; }
 }
 .title-page .wsite-background { position: absolute; background-image: url(theme/header.jpg?1426106817); }
 .title-page .wsite-background { height: 100%; }
 .title-page #banner h2 { margin: 160px auto 0; font-size: 1.75em; }
 .title-page #banner h2 > span { display: inline-block; padding: 2.4em 0; }
 @media (max-width: 991px) {
 .title-page #banner h2 { margin-top: 134px; }
 .title-page #banner h2 > span { padding: 1.75em 0; }
 }
 @media (max-width: 767px) {
 .title-page #banner h2 { margin-top: 55px; }
 .title-page #banner h2 > span { padding: 1.15em 0; }
 }
 .no-header-page #header { background: #000000; }
 .no-header-page .wsite-background { position: absolute; bottom: 0; background-image: url(theme/header.jpg?1426106817); }
 .no-header-page .wsite-background:before { content: ''; padding-top: 100%; width: 100%; display: block; }
 .no-header-page #content-wrapper { padding-top: 158px; }
 @media (max-width: 991px) {
 .no-header-page #content-wrapper { padding-top: 126px; }
 }
 @media (max-width: 767px) {
 .no-header-page #header { overflow: visible; }
 .no-header-page .wsite-background { display: none; }
 .no-header-page #content-wrapper { padding-top: 55px; }
 }
 .wsite-button, .blog-button { margin: 0 auto 1.5em !important; display: inline-block; line-height: 1 !important; font-weight: 700 !important; font-size: 1.1em !important; padding: 0 !important; text-transform: uppercase; color: #68a3c2 !important; background: none !important; height: auto !important; -webkit-transition: all 100ms cubic-bezier(0.55, 0.085, 0.68, 0.53) !important; -moz-transition: all 100ms cubic-bezier(0.55, 0.085, 0.68, 0.53) !important; -o-transition: all 100ms cubic-bezier(0.55, 0.085, 0.68, 0.53) !important; -ms-transition: all 100ms cubic-bezier(0.55, 0.085, 0.68, 0.53) !important; transition: all 100ms cubic-bezier(0.55, 0.085, 0.68, 0.53) !important; }
 .wsite-button-normal.wsite-button-large { font-size: 1.25em !important; margin: 0 auto 1.5em !important; }
 .wsite-button, .blog-button { border-top: 3px solid #68a3c2; border-bottom: 3px solid #68a3c2; vertical-align: middle; }
 .wsite-button .wsite-button-inner { height: auto !important; display: inline-block; padding: 16px .6em !important; }
 .wsite-button.wsite-button-large .wsite-button-inner { padding: 22px .6em !important; }
 .wsite-button:hover, .wsite-button:active , .blog-button:hover, .blog-button:active { background: #68a3c2 !important; color: #ffffff !important; }
 .wsite-button-highlight { font-size: 1.1em !important; padding: 1.25em 1.4em !important; margin: 0 auto 1.5em !important; color: #ffffff !important; text-transform: none; background: #68a3c2 !important; -webkit-box-shadow:inset 12px 0 0 0 #5792b0; box-shadow:inset 12px 0 0 0 #5792b0; border-top: none !important; border-bottom: none !important; }
 .wsite-button-highlight.wsite-button-large { font-size: 1.2em !important; padding: 1.5em 1.75em !important; -webkit-box-shadow:inset 20px 0 0 0 #5792b0; box-shadow:inset 20px 0 0 0 #5792b0; }
 .wsite-button-highlight:hover, .wsite-button-highlight:active { background: #000000 !important; -webkit-box-shadow:inset 5px 0 0 0 #68a3c2; box-shadow:inset 5px 0 0 0 #68a3c2; }
 .wsite-button-highlight .wsite-button-inner, .wsite-button-highlight.wsite-button-large .wsite-button-inner { padding: 0 !important; }
 .wsite-button-inner { float: none; background: none !important; height: auto; line-height: 1 !important; color: inherit !important; }
 .wsite-form-field { margin: 0 0 2em !important; }
 .wsite-form-label, #commentPostDiv .field label { display: inline-block; color: #444444 !important; font-family: 'Montserrat'; font-size: 1.15em; font-weight: 900; line-height: 1; padding: 0 0 .5em; }
 .form-required { color: #444444; font-weight: normal !important; }
 .wsite-form-input, #commentPostDiv .field input[type=text], #commentPostDiv .field textarea { font-family: 'Cabin', Arial, sans-serif; color: #444444; background: #f8f8f8; padding: 14px 12px !important; border: 1px solid #ffffff; border-radius: 6px !important; -webkit-box-shadow: inset 0px 0px 0px 1px #bbbbbb !important; box-shadow: inset 0px 0px 0px 1px #bbbbbb !important; }
 .wsite-form-input:focus, #commentPostDiv .field input[type=text]:focus, #commentPostDiv .field textarea:focus { border-color: #000000 !important; -webkit-box-shadow: inset 0px 0px 0px 1px #000000 !important; box-shadow: inset 0px 0px 0px 1px #000000 !important; }
 .wsite-form-sublabel { margin: 3px 0 0 3px; }
 #wsite-search-form { max-width: 250px; }
 .wsite-search-element { position: relative; max-width: 250px; }
 .wsite-search-element-submit, .wsite-editor .wsite-search-element-submit, #wsite-search-submit { top: 0; right: 0; width: 26px; height: 26px; background: transparent url(theme/search.png?1426106817) no-repeat center center; margin: 0 !important; border: none !important; }
 .wsite-search-element-input, #wsite-search-query { padding: 4px !important; background: none; border: none !important; text-align: center; border-bottom: 1px solid #bbbbbb !important; max-width: 225px; border-radius: 0 !important; }
 .wsite-search-element-input:-webkit-input-placeholder { color: #999999type; text-transform: uppercase; font-size: 1em; -webkit-transition: all 100ms cubic-bezier(0.55, 0.085, 0.68, 0.53) !important; transition: all 100ms cubic-bezier(0.55, 0.085, 0.68, 0.53) !important; }
 .wsite-search-element-input:-moz-placeholder { color: #999999type; text-transform: uppercase; font-size: 1em; -moz-transition: all 100ms cubic-bezier(0.55, 0.085, 0.68, 0.53) !important; transition: all 100ms cubic-bezier(0.55, 0.085, 0.68, 0.53) !important; }
 .wsite-search-element-input:-moz-placeholder { color: #999999type; text-transform: uppercase; font-size: 1em; -webkit-transition: all 100ms cubic-bezier(0.55, 0.085, 0.68, 0.53) !important; -moz-transition: all 100ms cubic-bezier(0.55, 0.085, 0.68, 0.53) !important; transition: all 100ms cubic-bezier(0.55, 0.085, 0.68, 0.53) !important; }
 .wsite-search-element-input:-ms-input-placeholder { color: #999999type; text-transform: uppercase; font-size: 1em; -webkit-transition: all 100ms cubic-bezier(0.55, 0.085, 0.68, 0.53) !important; -ms-transition: all 100ms cubic-bezier(0.55, 0.085, 0.68, 0.53) !important; transition: all 200ms cubic-bezier(0.55, 0.085, 0.68, 0.53) !important; }
 #sitesearch.loaded .wsite-search-element-input:-webkit-input-placeholder { color: #444444; }
 #sitesearch.loaded .wsite-search-element-input:-moz-placeholder { color: #444444; }
 #sitesearch.loaded .wsite-search-element-input:-moz-placeholder { color: #444444; }
 #sitesearch.loaded .wsite-search-element-input:-ms-input-placeholder { color: #444444; }
 #wsite-search-header { border: none; width: 70%; }
 #wsite-search-header h2 { font-weight: 900; font-size: 28px; width: auto !important; margin-right: 15px; padding: 6px 0 0; text-align: left; }
 #wsite-search-header #wsite-search-submit { top: 5px !important; }
 #wsite-search-header #wsite-search-query { font-size: 1.2em !important; min-height: 30px; }
 #wsite-search-form-container { float: left; width: 65%; text-align: left; }
 #wsite-search-sidebar { float: right !important; width: 20%; text-align: left; }
 #wsite-search-content:not(.one-column) #wsite-search-results { float: left !important; width: 70% !important; margin-right: 5%; text-align: left; }
 .wsite-search-facet-entries { display: inline-block; }
 #wsite-search-product-results .wsite-search-product-result { width: 30%; padding: 0; }
 #wsite-search-product-results .wsite-search-product-image-container { height: 175px; }
 #wsite-search-list h3, #wsite-search-sidebar h3 { font-size: 1.15em !important; line-height: 1.25; text-decoration: none !important; }
 #wsite-search-list div.paragraph, #wsite-search-sidebar .wsite-search-filter-entries li, #wsite-search-sidebar .wsite-search-facet-entries li, #wsite-search-sidebar .wsite-search-facet-price form li { font-size: 1em !important; }
 #wsite-search-list p, #wsite-search-sidebar .wsite-search-filter-entries li, #wsite-search-sidebar .wsite-search-facet-entries li, #wsite-search-sidebar .wsite-search-facet-price form li { font-size: 1em !important; }
 #wsite-search-list li:not(.wsite-search-product-result) > a { color: #68a3c2; }
 .jqTransformRadio { background: transparent url(theme/radio.png?1426106817) no-repeat top left; }
 .jqTransformCheckbox { background: transparent url(theme/checkbox.png?1426106817) no-repeat top left; }
 .jqTransformSelectWrapper a.jqTransformSelectOpen { background: url(theme/dropdown.png?1426106817) no-repeat center center; }
 select.jqTransformHidden { position: relative; top: 2px; display: block !important; z-index: -1; }
 .form-radio-container label { font-weight: normal; vertical-align: middle !important; }
 .jqTransformHidden { display: none; }
 .jqTransformRadio, .jqTransformCheckbox { vertical-align: middle; height: 22px; width: 22px; display:inline-block; margin: 0 .5em 0 0; }
 .form-field-error a.jqTransformChecked, a.jqTransformChecked { background-position: -22px top; }
 .form-field-error .jqTransformCheckbox, .form-field-error .jqTransformRadio { background-position: -44px top; }
 .jqTransformSelectWrapper { position:relative; background-color: #f8f8f8; border: none !important; min-width: 150px; min-height: 36px; z-index: auto !important; }
 .jqTransformSelectWrapper div span { font-size: .9em; position: absolute; white-space: nowrap; padding: 8px 36px 8px 16px; box-sizing: border-box; line-height: normal; overflow: hidden; cursor:pointer; color: #444444; border: 1px solid #bbbbbb !important; border-radius: 6px; background: #ffffff; }
 .jqTransformSelectWrapper a.jqTransformSelectOpen { display: block; position: absolute; right: 0; top:0; width: 28px; height: 100%; border-bottom:none; }
 .jqTransformSelectWrapper ul { position: absolute; width: 100% !important; top: 30px; list-style: none; background-color: #f8f8f8; border: none; display: none; margin: 0px; padding: 0px; overflow: auto; overflow-y: auto; z-index:10; moz-border-radius-bottomright: 6px; -webkit-border-bottom-right-radius: 6px; border-bottom-right-radius: 6px; -moz-border-radius-bottomleft: 6px; -webkit-border-bottom-left-radius: 6px; border-bottom-left-radius: 6px; border-left: 1px solid #bbbbbb !important; border-right: 1px solid #bbbbbb !important; border-bottom: 1px solid #bbbbbb !important; box-sizing: border-box; }
 .jqTransformSelectWrapper ul a { display: block; padding: 10px 16px; margin:0px; text-decoration: none; color: #444444; font-size: .9em; border-bottom:none; }
 .jqTransformSelectWrapper ul a:active, .jqTransformSelectWrapper ul a:hover, .jqTransformSelectWrapper ul a.selected:hover { background: #ffffff; color: #000000; }
 .jqTransformHidden, .jqTransformButton { display: none; }
 @media (max-width: 992px) {
 #wsite-search-sidebar { width: 25%; }
 #wsite-search-content:not(.one-column) #wsite-search-results { width: 65% !important; }
 }
 @media (max-width: 767px) {
 #wsite-search-header, #wsite-search-product-results .wsite-search-product-result { width: 100%; box-sizing: border-box; }
 #wsite-search-header h2 { font-size: 18px; margin-right: 10px; padding-top: 10px; }
 #wsite-search-header #wsite-search-query { font-size: 1em !important; min-height: 0px; }
 #wsite-search-sidebar { display: none; }
 #wsite-search-content:not(.one-column) #wsite-search-results { width: 100% !important; margin-right: 0 !important; }
 }
 .galleryInnerImageHolder, .galleryInnerImageHolder a, .galleryImageHolder a > div { display: block; height: 100%; width: 100%; top: 0; left: 0; position: absolute; }
 .partialImageGalleryCaption { top: auto !important; bottom: 0 !important; height: 55% !important; }
 .partialImageGalleryCaption .galleryCaptionHolderInner { top: 30%; }
 .galleryCaptionInnerTextHolder { text-align: center; padding: 0 10%; z-index: 1000; -webkit-transition: all 200ms cubic-bezier(0.55, 0.085, 0.68, 0.53); -moz-transition: all 200ms cubic-bezier(0.55, 0.085, 0.68, 0.53); -o-transition: all 200ms cubic-bezier(0.55, 0.085, 0.68, 0.53); -ms-transition: all 200ms cubic-bezier(0.55, 0.085, 0.68, 0.53); transition: all 200ms cubic-bezier(0.55, 0.085, 0.68, 0.53); }
 .galleryInnerImageHolder .galleryCaptionHolder { -webkit-backface-visibility: hidden; -webkit-transform: translateX(0); }
 .galleryInnerImageHolder .galleryCaptionHolderInner { margin-bottom: 0 !important; }
 .galleryCaptionInnerText { font: 1.25em/1.25 'Cabin' !important; font-weight: 900 !important; color: #ffffff !important; display: inline-block !important; text-align: center; }
 .fancybox-title { font: 1.25em/1.25 'Cabin' !important; font-weight: 900 !important; color: #ffffff !important; background: none !important; padding: .25em !important; text-align: center; }
 .fancybox-opened .fancybox-skin { box-shadow: none !important; }
 .galleryInnerImageHolder img { top: 0 !important; display: block !important; width: 100%; }
 .fancybox-skin { padding: 0 !important; background: none !important; }
 .fancybox-overlay { background: rgba(0, 0, 0, .85); }
 .#fancybox-thumbs ul li, #fancybox-thumbs ul li.active { border: none !important; }
 #fancybox-thumbs ul li:hover, #fancybox-thumbs ul li.active { background: #68a3c2; opacity: .75 !important; }
 #fancybox-loading, .fancybox-close, .fancybox-prev span, .fancybox-next span { background-image: url(theme/fancybox_sprite.png?1426106817); }
 .fancybox-next{ right: -36px !important; }
 .fancybox-next span { right: 0 !important; background-position: 0 -104px; }
 .fancybox-prev { left: -36px !important; }
 .fancybox-prev span { left: 0 !important; background-position: 0 -50px; }
 .fancybox-close { top: 0; right: -35px; }
 @media (max-width: 992px) {
 .galleryCaptionHolder { display: none; }
 .fancybox-prev { left: 0 !important; }
 .fancybox-next{ right: 0px !important; }
 .fancybox-close { right: 0; }
 }
 .wsite-social, .wsite-editor .wsite-social { white-space: normal; }
 .wsite-social-item, .wsite-editor .wsite-social-item { height: 26px; }
 #navigation .wsite-social-item { background-image: url(theme/sky-social-head.png?1426106817); }
 #main .wsite-social-item { background-image: url(theme/sky-social-body.png?1426106817); }
 .wsite-social-facebook { width: 28px; background-position: 0 -1px; }
 .wsite-social-twitter { width: 39px; background-position: -28px -1px; }
 .wsite-social-linkdin { width: 39px; background-position: -67px 1px ; }
 .wsite-social-mail { width: 36px; background-position: -110px -1px; }
 .wsite-social-flickr { width: 52px; background-position: -146px -1px; }
 .wsite-social-pinterest { width: 30px; background-position: -198px -1px; }
 .wsite-social-plus { width: 32px; background-position: -230px -1px; }
 .wsite-social-rss { width: 34px; background-position: -264px -1px; }
 .wsite-social-vimeo { width: 34px; background-position: -298px -1px; }
 .wsite-social-yahoo { width: 43px; background-position: -332px -1px; }
 .wsite-social-youtube { width: 36px; background-position: -375px -1px; }
 .wsite-social-facebook:hover, .wsite-social-facebook:focus { background-position: 0 -24px; }
 .wsite-social-twitter:hover, .wsite-social-twitter:focus { background-position: -28px -24px; }
 .wsite-social-linkdin:hover, .wsite-social-linkdin:focus { background-position: -67px -24px; }
 .wsite-social-mail:hover, .wsite-social-mail:focus { background-position: -110px -24px; }
 .wsite-social-flickr:hover, .wsite-social-flickr:focus { background-position: -146px -24px; }
 .wsite-social-pinterest:hover, .wsite-social-pinterest:focus { background-position: -198px -24px; }
 .wsite-social-plus:hover, .wsite-social-plus:focus { background-position: -230px -24px; }
 .wsite-social-rss:hover, .wsite-social-rss:focus { background-position: -264px -24px; }
 .wsite-social-vimeo:hover, .wsite-social-vimeo:focus { background-position: -298px -24px; }
 .wsite-social-yahoo:hover, .wsite-social-yahoo:focus { background-position: -332px -24px; }
 .wsite-social-youtube:hover, .wsite-social-youtube:focus { background-position: -375px -24px; }
 #footer { margin: 0 auto; padding: 0; background: #2e2e2e; color: #999999; }
 #footer .wsite-footer { max-width: 1140px; overflow: hidden; margin: 0 auto; padding: 4.5em 2em; box-sizing: border-box; }
 #footer h2 { font-family: 'Montserrat'; font-size: 1.33em; font-weight: 700; margin: 0 auto .75em; }
 #footer .paragraph { margin: 0 !important; font-size: 0.9em !important; line-height: 1.5; }
 #footer .wsite-form-field { margin: 0 auto 1em !important; }
 #footer .wsite-form-label { color: inherit !important; }
 #footer .wsite-form-input { border: none !important; box-shadow: none !important; }
 @media (max-width: 991px) {
 #footer .wsite-footer { font-size: 14px; padding: 3em 2em; }
 }
 @media (max-width: 767px) {
 #footer .wsite-footer { padding: 1.5em 2em; }
 #footer h2 { margin: 0 auto 1em; }
 }
 .wsite-product { margin: 0 auto 3em !important; padding: 0; border: none; box-shadow: none !important; display: table; }
 .wsite-product .wsite-product-title { font-weight: normal !important; font-size: 1.6em !important; letter-spacing: -1px !important; margin: 0 auto 1em !important; }
 .wsite-product .wsite-product-image-wrap { display: table-cell; width: 60% !important; max-width: 750px; float: none; }
 .wsite-product-image { border-radius: 0 !important; }
 .wsite-product .wsite-product-right { display: table-cell; vertical-align: top; padding-left: 2em; }
 .wsite-product .wsite-product-top { float: none; margin: 0; width: auto !important; }
 .wsite-product .wsite-product-button-wrap { display: block !important; width: auto !important; }
 .wsite-product .wsite-product-price, .wsite-product .wsite-product-variant { font-size: 1em !important; margin: 0 auto 1.6em !important; opacity: 1 !important; }
 .wsite-product .wsite-option-name, .wsite-product .wsite-product-price a { color: #000000; }
 .wsite-product .wsite-product-description { margin: 0 auto !important; overflow: hidden; -webkit-transition: all 400ms linear; -moz-transition: all 400ms linear; -o-transition: all 400ms linear; -ms-transition: all 400ms linear; transition: all 400ms linear; }
 @media (max-width: 767px) {
 .wsite-product .wsite-product-image-wrap { width: 100% !important; margin: 0 auto 1.5em; }
 .wsite-product .wsite-product-image-wrap, .wsite-product .wsite-product-right { display: block; padding: 0; }
 .wsite-product .wsite-product-title { font-size: 1.25em !important; margin: 0 auto 1em !important; }
 .wsite-product .wsite-product-price, .wsite-product .wsite-product-variant { margin: 0 auto 1.25em !important; }
 .wsite-product .wsite-product-button-wrap { margin: 0; }
 }
 .wsite-com-category-product-image-wrap, .wsite-com-category-product-featured-image-wrap, .wsite-com-category-subcategory-image-wrap { border: none !important; }
 .wsite-com-category-subcategory-name { position: relative !important; }
 .wsite-com-category-subcategory-name-bg { background: none !important; border-bottom: 2px solid #68a3c2 !important; opacity: 1 !important; -webkit-transition: all 200ms cubic-bezier(0.55, 0.085, 0.68, 0.53) !important; -moz-transition: all 200ms cubic-bezier(0.55, 0.085, 0.68, 0.53) !important; -o-transition: all 200ms cubic-bezier(0.55, 0.085, 0.68, 0.53) !important; -ms-transition: all 200ms cubic-bezier(0.55, 0.085, 0.68, 0.53) !important; transition: all 200ms cubic-bezier(0.55, 0.085, 0.68, 0.53) !important; }
 .wsite-com-category-subcategory-name-text { color: #68a3c2; font-size: 1.15em; font-weight: 700; text-transform: uppercase; text-shadow: none; padding: 12px; -webkit-transition: all 200ms cubic-bezier(0.55, 0.085, 0.68, 0.53) !important; -moz-transition: all 200ms cubic-bezier(0.55, 0.085, 0.68, 0.53) !important; -o-transition: all 200ms cubic-bezier(0.55, 0.085, 0.68, 0.53) !important; -ms-transition: all 200ms cubic-bezier(0.55, 0.085, 0.68, 0.53) !important; transition: all 200ms cubic-bezier(0.55, 0.085, 0.68, 0.53) !important; }
 .wsite-com-category-subcategory-wrap:hover .wsite-com-category-subcategory-name-bg { background: #68a3c2 !important; }
 .wsite-com-category-subcategory-wrap:hover .wsite-com-category-subcategory-name-text { color: #ffffff; }
 .wsite-com-category-product-group .wsite-com-category-product-wrap, .wsite-com-category-product-featured-group .wsite-com-category-product-wrap, .wsite-com-category-subcategory-group .wsite-com-category-subcategory-wrap { margin: 10px 18px 40px; }
 .wsite-com-category-product-featured-group .wsite-com-category-product-featured-wrap { margin: 10px 18px 25px; }
 .wsite-com-category-product-group, .wsite-com-category-product-featured-group, .wsite-com-category-subcategory-group { margin: 0 -18px !important; }
 #wsite-com-product-list { margin-top: 10px; }
 .wsite-com-category-product-group .wsite-com-category-product-wrap, .wsite-com-category-product-featured-group .wsite-com-category-product-wrap, .wsite-com-category-product-featured-group .wsite-com-category-product-featured-wrap, .wsite-com-category-subcategory-group .wsite-com-category-subcategory-wrap { font-size: 1em !important; }
 .wsite-com-category-product-name { font-weight: 700; margin: 15px 0 10px; line-height: 1; }
 .wsite-com-category-product-featured-price { color: #000000; }
 .wsite-com-sidebar { width: 26%; padding: 10px 36px 0 0; box-sizing: border-box; }
 .wsite-com-sidebar.inner { width: 24%; padding: 10px 18px 0 0; box-sizing: border-box; }
 #wsite-com-store #wsite-com-hierarchy ul { font-size: 1em !important; }
 .wsite-com-link-text { color: #68a3c2; font-weight: 700; }
 .wsite-com-link-text:hover { color: #000000; }
 .wsite-com-link-text.wsite-selected { display: inline-block; border-bottom: 1px solid #68a3c2; }
 a .wsite-level-1 { font-size: 1.15em; text-transform: uppercase; margin-bottom: 1em; }
 li.wsite-level-1 { margin-bottom: 1.5em !important; }
 .wsite-com-content-with-sidebar { display: inline; margin-left: 0 !important; }
 .wsite-com-content-with-sidebar .wsite-com-category-subcategory-group { float: left; width: 77%; }
 #wsite-com-breadcrumbs { padding: 0 0 2.5em 0 !important; }
 #wsite-com-breadcrumbs .wsite-com-breadcrumb a .wsite-com-link-text { color: #68a3c2; font-weight: 400; font-size: .85em; }
 #wsite-com-breadcrumbs .wsite-com-breadcrumb:last-child .wsite-com-link-text { color: #444444; font-weight: 400; font-size: .85em; }
 .wsite-com-breadcrumb-arrow { display: none !important; }
 .wsite-com-breadcrumb .wsite-com-breadcrumb-arrow:after { display: none; }
 .wsite-com-breadcrumb:nth-child(even):before { content: '\203A'; vertical-align: top; line-height: 1; font-size: 95%; margin: 0 5px; }
 #wsite-com-featured-title, #wsite-com-product-list #wsite-com-title { display: none !important; }
 #open-categories, #close-categories { display: none; margin: 0 auto 1.5em; font-weight: 700; }
 @media (max-width: 991px) {
 #open-categories, .sidebar-expanded #close-categories { display: block; }
 .sidebar-expanded #open-categories { display: none; }
 .wsite-com-content-with-sidebar .wsite-com-category-subcategory-group { width: 100%; float: none; }
 .wsite-com-sidebar { box-sizing: border-box; width: 100% !important; padding: 10px; text-align: center; max-height: 40px; overflow: hidden; -webkit-transition: all 500ms linear; -moz-transition: all 500ms linear; -o-transition: all 500ms linear; -ms-transition: all 500ms linear; transition: all 300ms linear; }
 .sidebar-expanded { max-height: 1000px; }
 #wsite-com-store .wsite-com-category-subcategory-group .wsite-com-column { width: 50% !important; }
 .wsite-com-category-product-group, .wsite-com-category-product-featured-group, .wsite-com-category-subcategory-group { margin: 0 !important; }
 }
 @media (max-width: 767px) {
 #wsite-com-store .wsite-com-category-subcategory-group .wsite-com-column, #wsite-com-store .wsite-com-column, .wsite-com-content-inner .wsite-com-category-subcategory-group .wsite-com-column, #wsite-com-category-product-group.wsite-com-category-product-featured-group .wsite-com-column, .wsite-com-category-product-group .wsite-com-column { width: 100% !important; }
 .wsite-com-category-product-group .wsite-com-category-product-wrap, .wsite-com-category-product-featured-group .wsite-com-category-product-wrap, .wsite-com-category-subcategory-group .wsite-com-category-subcategory-wrap { margin: 10px 0; }
 .wsite-com-category-product-featured-group.wsite-com-column-group .wsite-com-column { width: 100% !important; }
 .wsite-com-category-product-featured-group .wsite-com-category-product-featured-wrap { margin: 10px 0; }
 .wsite-com-category-subcategory-name { position: absolute !important; }
 .wsite-com-category-subcategory-name-bg { background: #68a3c2 !important; }
 .wsite-com-category-subcategory-name-text { color: #ffffff; }
 }
 .wsite-com-category-product-image-wrap, .wsite-com-category-product-featured-image-wrap, .wsite-com-category-subcategory-image-wrap { border: none !important; }
 #wsite-com-product-area { display: table !important; }
 #wsite-com-product-images { display: table-cell !important; width: 65% !important; float: none !important; vertical-align: top; }
 #wsite-com-product-info.wsite-com-product-info-with-images { display: table-cell !important; margin-left: 0 !important; width: 50% !important; padding-left: 2.5em !important; vertical-align: middle !important; }
 #cloudzoom-wrap { display: inline-block; width: 75%; padding: 0 2.5em 0 0 !important; }
 #wsite-com-product-images-strip { display: inline-block; width: 25%; margin: 0 !important; vertical-align: top; }
 #wsite-com-product-images-strip a { width: 50% !important; padding: 0 !important; border: none !important; box-shadow: none !important; margin: 0 !important; }
 .wsite-com-product-images-secondary-outer { padding: 0 !important; border: none !important; box-shadow: none !important; margin: 0 !important; }
 .wsite-imageaspectratio-image-wrap { background: #000000 !important; -webkit-transition: all 200ms cubic-bezier(0.55, 0.085, 0.68, 0.53); -moz-transition: all 200ms cubic-bezier(0.55, 0.085, 0.68, 0.53); -o-transition: all 200ms cubic-bezier(0.55, 0.085, 0.68, 0.53); -ms-transition: all 200ms cubic-bezier(0.55, 0.085, 0.68, 0.53); transition: all 200ms cubic-bezier(0.55, 0.085, 0.68, 0.53); -webkit-backface-visibility: hidden; -webkit-transform: translateX(0); }
 #wsite-com-product-images-strip a:hover .wsite-imageaspectratio-image-wrap, #wsite-com-product-images-strip a:focus .wsite-imageaspectratio-image-wrap { background: #68a3c2 !important; }
 #wsite-com-product-images-strip a img, #wsite-com-product-images-strip a img { opacity: 0.5; -webkit-transition: all 200ms cubic-bezier(0.55, 0.085, 0.68, 0.53); -moz-transition: all 200ms cubic-bezier(0.55, 0.085, 0.68, 0.53); -o-transition: all 200ms cubic-bezier(0.55, 0.085, 0.68, 0.53); -ms-transition: all 200ms cubic-bezier(0.55, 0.085, 0.68, 0.53); transition: all 200ms cubic-bezier(0.55, 0.085, 0.68, 0.53); -webkit-backface-visibility: hidden; -webkit-transform: translateX(0); }
 .current-thumb img, .current-thumb:hover img { opacity: 1 !important; }
 h2#wsite-com-product-title { font-family: 'Cabin'; font-size: 1.5em; font-weight: 400; margin: 0 auto 1em; }
 #wsite-com-product-sku { display: block; float: right; font-size: 1em !important; line-height: 1 !important; opacity: 1 !important; margin: 0 auto 1em; }
 #wsite-com-product-sku > b, #wsite-com-product-sku > span { font-weight: normal !important; }
 #wsite-com-product-price-area { font-size: 1em; padding: 0; margin: 0 auto 1em; border: none !important; line-height: 1; }
 .wsite-com-product-price-amount { font-size: 1em; }
 .wsite-com-product-option-label { margin: 0 auto 5px; }
 #wsite-com-product-inventory, .wsite-com-product-option { padding-top: 2em; margin-top: 0; }
 #wsite-com-product-inventory, #wsite-com-product-options { border: none !important; }
 #wsite-com-product-options, #wsite-com-product-quantity, .wsite-com-product-label { position: relative; margin: 0 !important; }
 .wsite-com-product-option b { line-height: 2; }
 .postload #wsite-com-product-quantity b { position: absolute; top: .6em; left: 1em; z-index: 2; }
 #wsite-com-product-quantity-input { width: 40px; padding: 8px 16px 8px 50px !important; box-shadow: none !important; border: 1px solid #bbbbbb !important; }
 .wsite-com-product-option-color .wsite-com-product-option-color-swatch { width: 38px; height: 38px; border-radius: 0; box-shadow: none !important; outline: none !important; }
 .wsite-com-product-option-color .wsite-com-product-option-color-container { margin: 0 6px 0 0 !important; box-shadow: none !important; }
 .wsite-com-product-option-color .wsite-selected { background-image: url(theme/store-check.png?1426106817) !important; }
 #wsite-com-product-short-description .paragraph { margin: 0 0 1.25em !important; }
 #wsite-com-product-social-sharing a { height: 26px; background-image: url(theme/sky-social-body.png?1426106817); background-size: auto auto !important; }
 #wsite-com-product-buy { padding-top: 2.5em; margin-top: 0; }
 .wsite-com-product-social-facebook { width: 28px !important; background-position: 0 -1px; }
 .wsite-com-product-social-twitter { width: 39px !important; background-position: -28px -1px; }
 .wsite-com-product-social-pinterest { width: 30px !important; background-position: -198px -1px; }
 .wsite-com-product-social-facebook:hover, .wsite-social-facebook:focus { background-position: 0 -24px; }
 .wsite-com-product-social-twitter:hover, .wsite-social-twitter:focus { background-position: -28px -24px; }
 .wsite-com-product-social-pinterest:hover, .wsite-social-pinterest:focus { background-position: -198px -24px; }
 @media (max-width: 991px) {
 #wsite-com-product-images { width: 50% !important; }
 #cloudzoom-wrap { width: 100%; padding: 0 !important; margin: 0 auto 20px !important; }
 #wsite-com-product-images-strip { width: 100%; }
 #wsite-com-product-images-strip a { width: 25% !important; }
 }
 @media (max-width: 767px) {
 #wsite-com-breadcrumbs { margin: 0 auto 1.5em; }
 #wsite-com-product-images, #wsite-com-product-info.wsite-com-product-info-with-images { display: block !important; width: 100% !important; }
 #wsite-com-product-images { margin: 0 auto 2em; }
 #wsite-com-product-info.wsite-com-product-info-with-images { padding-left: 0 !important; }
 #cloudzoom-wrap { margin: 0 auto 10px !important; }
 }
 #wsite-content .blog-post .blog-header { margin: 0 auto 2.5em !important; }
 #wsite-content .blog-post .blog-header h2.blog-title { font-size: 1.6em !important; font-weight: 400 !important; font-family: 'Cabin' !important; margin: 0 auto 1.25em !important; line-height: 1 !important; }
 .blog-title a { color: #444444; }
 .blog-sidebar-separator { padding: 0 0 0 50px; }
 .blog-sidebar h2 { font-family: 'Cabin' !important; font-size: 1em !important; margin: 0 auto 2em !important; }
 .blog-sidebar div.paragraph { margin: 0 auto 3em !important; line-height: 1.75; }
 .blog-sidebar p { margin: 0 auto 3em !important; line-height: 1.75; }
 #wsite-content .blog-post .blog-date, #wsite-content .blog-post .blog-comments { float: left; height: 20px !important; padding: 4px 0 0 0 !important; font-weight: 700; font-size: 1em !important; line-height: 1 !important; }
 #wsite-content .blog-post .blog-date, .blogCommentDate { padding-left: 30px !important; background: url(theme/calendar.png?1426106817) no-repeat top left; margin-right: 24px !important; }
 #wsite-content .blog-post .blog-comments { padding-left: 35px !important; background: url(theme/comments.png?1426106817) no-repeat top left; }
 .blog-post .blog-separator, .blog-comments-bottom, .blog-post-separator { display: none; }
 .blog-post .blog-read-more { text-align: left; }
 .blog-post .blog-content { margin-bottom: 2.5em; }
 .wsite-blog-index .blog-post { margin: 0 auto 3em !important; padding: 0 0 2.5em; }
 .wsite-blog-index .blog-post { border-bottom: 1px solid #e5e5e5; }
 #wsite-content .blog-post:last-child { border-bottom: none; }
 @media (max-width: 991px) {
 #wsite-content .blog-post .blog-header h2.blog-title { font-size: 1.4em !important; }
 .wsite-blog-post .blog-sidebar { display: none; }
 }
 @media (max-width: 767px) {
 #blogTable > tbody > tr > td{ display: block; }
 .blog-sidebar, .blog-body, .column-blog { display: block; width: 100% !important; float: none !important; }
 .blog-sidebar-separator { padding: 0; }
 #wsite-content .blog-post:last-child { border-bottom: 1px solid #e5e5e5; }
 #wsite-content .blog-post .blog-header h2.blog-title { font-size: 1.25em !important; }
 #wsite-content .blog-post .blog-header { margin: 0 auto 1em !important; }
 }
 #commentAreaTitle, .blogCommentAuthor, .blogCommentDate, .blogCommentText div.paragraph { font-family: 'Cabin' !important; }
 #commentAreaTitle, .blogCommentAuthor, .blogCommentDate, .blogCommentText p { font-family: 'Cabin' !important; }
 #commentArea { padding: 2em; border-radius: 3px; border: 1px solid #bbbbbb; }
 #commentAreaTitle { font-size: 1em !important; font-weight: 700 !important; margin: 0 auto 2em !important; }
 .blogCommentWrap, .blogCommentHeading, .blogCommentHeading .blogCommentHeadingInner, .blogCommentHeading .blogCommentAuthor, .blogCommentText { background: none !important; padding: 0 !important; height: auto !important; }
 .blogCommentHeading .blogCommentAuthor span.name, .blog-button span { background: none !important; float: none !important; line-height: 1 !important; }
 .blogCommentAuthor, .blogCommentDate { float: none !important; display: block !important; font-size: 1.6em !important; font-weight: 400 !important; margin: 0 auto 30px !important; }
 .blogCommentDate { text-align: left !important; font-weight: 700; font-size: 1em !important; line-height: 1.5 !important; height: 20px !important; }
 .blogCommentText { margin: 0 auto 2em; }
 .blogCommentText div.paragraph { font-size: 1em !important; line-height: 1.75 !important; }
 .blogCommentText p { font-size: 1em !important; line-height: 1.75 !important; }
 .blogCommentOptions .blog-button, .blogCommentHeading .blogCommentAuthor a.link { float: none !important; display: inline-block !important; }
 #commentText > div:not(:first-of-type) .blogCommentLevel0 { padding-top: 2.5em !important; border-top: 1px solid #e5e5e5 !important; margin-top: 2.5em !important; }
 .blogCommentLevel1, .blogCommentLevel2 { margin: 0 !important; }
 .blogCommentLevel1 { padding: 30px 30px 0px 60px !important; background: #f8f8f8 url(theme/comment-nest.png?1426106817) no-repeat 30px 30px !important; }
 .blogCommentLevel2 { padding: 30px 30px 0px 120px !important; background: #f8f8f8 url(theme/comment-nest.png?1426106817) no-repeat 90px 30px !important; }
 .blogCommentLevel1.last { padding-bottom: 10px !important; }
 .blogCommentSubreplyWrapper div.iframeWrapper { background: none !important; border: none !important; padding: none !important; }
 #commentPostDiv, #commentPostDiv .field label{ margin: 0 !important; }
 .blogCommentReplyWrapper iframe, .blogCommentReplyWrapper { padding: 0 !important; min-height: 600px !important; }
 .field-notify label { font-size: 1em !important; font-family: 'Cabin' !important; }
 #commentSubmit, #commentCancel { clear: both; float: left; margin: 1.25em 0 !important; }
 @media (max-width: 767px) {
 #commentArea { padding: 2em 0 0; border-radius: 0; border: none; border-top: 1px solid #bbbbbb; }
 .blogCommentLevel1 { padding: 30px 30px 0px 30px !important; background-position: 10px 30px !important; }
 .blogCommentLevel2 { padding: 30px 30px 0px 50px !important; background-position: 30px 30px !important; }
 #commentPostDiv .field input[type=text], #commentPostDiv .field textarea { width: 85% !important; }
 }
 #content h2.wsite-com-checkout-payment-title { margin-left: 18px; }
 h2.wsite-checkout-header, #wsite-com-checkout-payment-info .wsite-panel-title, .wsite-com-checkout-payment-title { font-size: 1.25em !important; padding: 0; }
 .wsite-com-checkout-item-heading { line-height: 1 !important; }
 .wsite-com-continue-shopping .caret { vertical-align: baseline; }
 .wsite-checkout-button .wsite-button-inner { font-weight: 500 !important; letter-spacing: 1px !important; }
 .wsite-checkout-type .wsite-payment-selector { box-sizing: initial; }
 @media (max-width: 991px) {
 .wsite-product-list .wsite-name-header, #wsite-mini-cart .wsite-product-list .wsite-product-price, #wsite-mini-cart .wsite-subtotal-wrapper { font-size: 14px !important; }
 #wsite-mini-cart .wsite-product-image { padding: 5px !important; }
 }
 @media (max-width: 767px) {
 #wrapper { height: auto !important; min-height: 100%; }
 #wsite-mini-cart { width: 100% !important; margin: 0 !important; top: auto !important; bottom: 0 !important; border-radius: 0 !important; left: 0 !important; position: fixed !important; }
 #wsite-mini-cart.full { display: block !important; }
 #wsite-mini-cart:after { display: none !important; }
 #wsite-mini-cart:before { content: 'Shopping Cart' !important; font-family: 'Montserrat'; font-weight: 700; width: auto !important; left: 15px !important; top: 10px !important; margin: 0 !important; border: none !important; color: #444444 !important; white-space: nowrap; }
 #wsite-mini-cart .wsite-product-list { display: none !important; }
 #wsite-com-checkout-list .wsite-com-checkout-item-details-inner, #wsite-com-checkout-summary-list .wsite-com-checkout-item-details-inner { line-height: 1 !important; }
 #wsite-com-checkout-button { margin-bottom: 0 !important; padding: .6em !important; }
 #wsite-mini-cart .wsite-subtotal-wrapper { padding: 20px 0 0 !important; }
 #wsite-com-checkout-list .wsite-com-checkout-item-image, #wsite-com-checkout-summary-list .wsite-com-checkout-item-image { max-width: 50px; max-height: 50px; margin-right: 10px; }
 h2.wsite-checkout-header { padding-bottom: 0 !important; }
 #wsite-com-checkout-list .wsite-com-checkout-item-image, #wsite-com-checkout-summary-list .wsite-com-checkout-item-image { max-width: 50px; max-height: 50px; margin-right: 10px; }
 #wsite-com-checkout-list .wsite-com-checkout-item-details-inner, #wsite-com-checkout-summary-list .wsite-com-checkout-item-details-inner { padding-left: 0 !important; }
 #wsite-com-checkout-list { font-size: .65em !important; }
 .wsite-com-continue-shopping, button.wsite-button.wsite-button-large.wsite-button-highlight.wsite-checkout-button.wsite-com-paypal-checkout-button { font-size: .75em !important; }
 #wsite-com-checkout-list .wsite-form-input, #wsite-com-checkout-summary-list .wsite-form-input { width: 20px !important; margin: 0 10px !important; padding: 5px !important; }
 #wsite-com-checkout-list .wsite-remove-button, #wsite-com-checkout-summary-list .wsite-remove-button { left: 10px !important; top: 10px !important; }
 .wsite-checkout-type .wsite-paypal { margin-left: 0; margin-top: 10px; }
 #wsite-com-checkout-payment > div { width: 100%; }
 #wsite-com-checkout-payment-order { margin: 0; padding: 15px; }
 }

div.paragraph ul, div.paragraph ol { padding-left: 2.3em !important; margin: 5px 0 !important; overflow:hidden; }
div.paragraph li { padding-left: 5px !important; margin: 3px 0 0 !important; }
div.paragraph ul, div.paragraph ul li { list-style: disc outside !important; }
div.paragraph ol, div.paragraph ol li { list-style: decimal outside !important; }
